* = done

USER
*register
*login
*logout

{
see available books
see highest rated books
see reserved books
} // counts as viewing

*reserve book
*cancel reserved book
*leave comment
*update profile
*filter search

LIBRARIAN

*waive fees
*extend due date
perform maintenance
reset password
add book
*edit book

{
view users
view loans books
view overdue books
view users with outstanding balance
} // counts as viewing

DBA

run sql query