body ,td ,div {
    font-family: 'Open Sans';
   	font-weight: normal;
}
table, td, th{
    border:0px;
    border-spacing:0px;
    font-size:14px;
    font-family: 'Open Sans';
	cellpadding:0px;
	cellspacing:0px;
}
td{
    padding:1px;
}
p{
    font-family: 'Open Sans';
   	font-weight: normal;
    font-size:10px;
    color:#dcdcdc;
}
p.big
{
    font-family: 'SwIS BOLD';
   	font-weight: normal;
	position: relative;
	letter-spacing: -3px;
    font-size:90px;
    color:#000;
    left:30px;
    top:2px;
    margin: 0cm;
    padding: 0cm;
    text-shadow: 0.0em 0.0em #fff
}
p.head, h3
{
    font-family: 'Open Sans';
   	font-weight: bold;
	position: relative;
	letter-spacing: 0px;
    font-size:20px;
    color:#000;
    left:0px;
    top:0px;
    margin: 0cm;
    padding: 0cm;
  }
p.small
{   
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position:absolute;
    top:45px;
    left:120px;
    font-family: 'Open Sans';
   	font-weight: normal;
    font-size:10px;
    color:#fff;
	letter-spacing: 0px;
    margin: 0cm;
    padding: 0cm;
	display:block;
    text-shadow: 0.0em 0.0em #fff
}
a.small , a.small:link
{   
    font-family: 'Open Sans';
   	font-weight: normal;
    font-size:11px;
    color:#B1654B;
	letter-spacing: 0px;
    margin: 0cm;
    padding: 0cm;
	text-decoration:none;
    /*text-shadow: 0.0em 0.0em #fff*/
}
.decorbar
{
    position:absolute;
    left:20px;
    top:0px;
    width:160px;
    height:101%;
    background-color:#72EE9E;
    box-shadow: 0px 5px 5px #888888;
}
.decornav
{
    position:absolute;
    left:20px;
    top:0px;
    width:160px;
    height:100%;
    background-color:#72EE9E;
    box-shadow: 0px 5px 5px #888888;
	z-index:0;
}
.user_nav
{
	height:100%;
	position: relative;
    width:150px;
	left:10px;
    text-shadow: 0.0em 0.0em #72EE9E
    z-index: 100;
}
.user_nav a:link, a:visited, a:active {
    text-decoration:none;
    font-family: 'SwIS BOLD';
	letter-spacing: 1px;
    color:#fff;
    font-size:18px;
    text-shadow: 0.01em 0.01em #72EE9E
}
.related_body
{	
    position:absolute;
    left:190px;
    top:120px;
    width:80%;
    height:70%;
	z-index:200;
}

.msginfo
{
    position:absolute;
    width:100%;
    left:250px;
    top:75px;
}
.nav{
    position:absolute;
    width:100%;
    height:60%;
    left:230px;
    top:10px;
}
.nav a:link {
    text-decoration:none;
    font-family: 'Goudy Bookletter 1911', serif;
	letter-spacing: 1px;
    color:#ffffff;
    font-size:20px;
}
.ui-header {
      width: 100%;
      max-width: 100%;
      height: 100px;
	  background-color:#13101E;
}

.ui-btn {
	background-color : black;
	background:black;
}
.ui-btn-text {
	color : white;
}
.ui-btn-down-c {
	font-style : italic;
}


#loadingImage, #errors {
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 50%;
    display: none;
}
#tableButtons {
    margin-left: 10px;
}

#errors {
    font-size: 20px;
    color: #FF0000;
    background-color: #EEEEEE;
    z-index: 900;
    left: 400px;
    top: 80px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 5px;
}
