#loginForm {
    position: absolute;
    width: 300px;
    border: 2px solid #bbbbbb;
    right: 90px;
    top: 20px;
    z-index: 100;
    border-radius: 5px;
    padding: 15px;
    background: #aaccee;
    display: none;     
}