{% extends "layout.html" %}

{% block bodytable %}

<!--NAVIGATION FOR USER-->
<div class="decornav"></div>
<div class="user_nav" id="tableLink">
	<br/>
	<font color=#fff>
	<a id="available_books" href="#t" onClick="loadTable($(this));">Available</a><br/>
	</font>
</div>

<!--TABLES-->
<div class="related_body">
	<div data-role="content" data-theme="d" id="divTable">
		<div class="message"></div>	

		<table id="tableContent" data-role="table" data-mode="columntoggle" data-filter="true" class="ui-responsive table-stroke">			
			{% set count = {'value': 0} %}					
			<thead>
				<tr>
					{% for header in headers %}
						<th data-priority="{{ count.value + 1 }}">{{ header[0] }}</th>
						{% if count.update({'value': count.value + 1}) %} {% endif %}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for entry in entries %}
				<tr>
					{% for i in range(count.value) %}
					<td>
						{% if i == 0 %}        
				       		<button data-mini="true" id={{ entry[i] }} onClick="userAction($(this));">{{ entry[i] }}</button>
				       	{% else %}
				       		{{ entry[i] }}
				       	{% endif %}
					</td>
					{% endfor %}  
				</tr>
				{% endfor %}
			</tbody>	
		</table>		
	</div>
</div>

{% endblock %}
			
