{% extends "layout.html" %}

{% block login %}

    <table>
    <tr><td><table><tr>
    <!--buttons-->
    <td><img src="/static/img/icons/72-pin.png"/><td width="5">
    <td><a href="#regForm" id="registerButton" data-rel="popup" data-position-to="window"  data-transition="fade">Register new user</a>
    </td></tr></table></td></tr>
    <tr><td><table><tr>
    <td><img src="/static/img/icons/72-pin.png"/><td width="5">
    <td><a href="#logForm" id="loginButton" data-rel="popup" data-position-to="window"  data-transition="fade">Login</a>
    </td></tr></table> 
    <!--endbuttons-->
    </td></tr></table> <!--too lazy to put all /td LOOOL works anyways-->


    <!--pop-ups-->
    <div data-role="popup" id="regForm" data-overlay-theme="b" data-theme="b">    
        <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <form id="registerForm">
        <div 
            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="email2">Email</label>
                <input type="text" name="email2" id="email2" placeholder="Email"/>
            </div>
            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Name"/>
            </div>
            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" placeholder="Phone ###-###-####"/>
            </div>
            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="password2">Password</label>
                <input type="password" name="password2" id="password2" placeholder="Password"/>
            </div>
            <button type="button" id="register" name="register" data-inline="true">Register</button>
        </form>
    </div>

    <div data-role="popup" id="logForm" data-overlay-theme="b" data-theme="b">    
         <a id="butclose" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>

         <form id="loginForm">                            
            <div data-role="fieldcontain">
            <fieldset data-role="controlgroup">
            	<legend>Choose type of user:</legend>
                 	<input type="radio" name="accesslevel" id="level2" value="2" checked="checked" />
                 	<label for="level2">User</label>

                 	<input type="radio" name="accesslevel" id="level1" value="1"  />
                 	<label for="level1">Librarian</label>

                 	<input type="radio" name="accesslevel" id="level0" value="0"  />
                 	<label for="level0">DBA</label>
            </fieldset>
            </div>
            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Email"/>
            </div>
            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password"/>
            </div>
            <button type="button" id="login" name="login" data-inline="true">Login</button>
        </form> 
    </div>
{% endblock %}

{% block tableButtons %}
    <ul id="tableButtons" data-role="controlgroup" data-type="horizontal">
        <button id="user_inf" data-mini="true">User</button>        
        <button id="user_archive" data-mini="true">User Archive</button>
        <button id="book" data-mini="true">Book</button>
        <button id="loan" data-mini="true">Loan</button>
        <button id="review" data-mini="true">Review</button>
        <button id="reservation" data-mini="true">Reservation</button>
        <button id="overdue_users" data-mini="true">Overdue Books</button>
        <button id="debtors" data-mini="true">Debtors</button>
        <button id="reserved_books" data-mini="true">Reserved Books</button>
        <button id="available_books" data-mini="true">Available Books</button>
        <button id="highest_rated_books" data-mini="true">Highest Rated Books</button>
    </ul>
{% endblock %}

{% block table %}
    {% set count = {'value': 0} %}
    <thead>
        <tr>
            {% for header in headers %}
                <th data-priority="{{ count.value + 1 }}">{{ header[0] }}</th>
            {% if count.update({'value': count.value + 1}) %} {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
        <tr>
            {% for i in range(count.value) %}
            <td>{{ entry[i] }}</td>
            {% endfor %}  
        </tr>
        {% endfor %}
    </tbody>
{% endblock %} 
