{% extends "layout.html" %}

{% block login %}
    <ul id="formButtons" data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
        <button type="button" id="registerButton" data-inline="true">Register</button>
        <button type="button" id="loginButton" data-inline="true">Login</button>
    </ul>
    <form id="loginForm">
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Email"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password"/>
        </div>
        <button type="button" id="login" name="login" data-inline="true">Login</button>
    </form> 
    <form id="registerForm">
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="email2">Email</label>
            <input type="text" name="email2" id="email2" placeholder="Email"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Name"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone" placeholder="Phone ###-###-####"/>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="password2">Password</label>
            <input type="password" name="password2" id="password2" placeholder="Password"/>
        </div>
        <button type="button" id="register" name="register" data-inline="true">Register</button>
    </form>
{% endblock %}

{% block tableButtons %}
    <ul id="tableButtons" data-role="controlgroup" data-type="horizontal">
        <button id="user_type" data-mini="true">User Type</button>
        <button id="user" data-mini="true">User</button>        
        <button id="user_archive" data-mini="true">User Archive</button>
        <button id="book" data-mini="true">Book</button>
        <button id="loan" data-mini="true">Loan</button>
        <button id="review" data-mini="true">Review</button>
        <button id="reservation" data-mini="true">Reservation</button>
        <button id="overdue_books" data-mini="true">Overdue Books</button>
        <button id="debtors" data-mini="true">Debtors</button>
        <button id="reserved_books" data-mini="true">Reserved Books</button>
        <button id="available_books" data-mini="true">Available Books</button>
        <button id="highest_rated_books" data-mini="true">Highest Rated Books</button>
    </ul>
{% endblock %}

{% block table %}
    {% set count = {'value': 0} %}
    <thead>
        <tr>
            {% for header in headers %}
                <th data-priority="{{ count.value + 1 }}">{{ header[0] }}</th>
            {% if count.update({'value': count.value + 1}) %} {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
        <tr>
            {% for i in range(count.value) %}
            <td>{{ entry[i] }}</td>
            {% endfor %}  
        </tr>
        {% endfor %}
    </tbody>
{% endblock %} 