{% extends "layout.html" %}

<div>

<div data-role="fieldcontain">
    <p>Insert New Books</p>
	
	<label for="name">Book Title:</label>
    <input type="text" name="" id="" value="" /><br/>
	
    <label for="name">Author:</label>
    <input type="text" name="" id="" value="" /><br/>
	
    <label for="name">Publication Date:</label>
    <input type="text" name="" id="" value="" /><br/>
	
    <label for="name">Edition:</label>
    <input type="text" name="" id="" value="" /><br/>
	
	<label for="name">Copies:</label>
    <input type="text" name="" id="" value="" /><br/>
	
</div>


</div>

{% endblock %} 