<!DOCTYPE html>

<html>
    <head>
        <title>CS157A Project</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0-beta.1/jquery.mobile-1.4.0-beta.1.min.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.0-beta.1/jquery.mobile-1.4.0-beta.1.min.js"></script>
        <script src="{{ url_for('static', filename='login.js') }}"></script>
    </head>
    <body>
        <div data-role="page">
            <div data-role="header" style="z-index:1000;">
                <h1>Sticky Dogs Library</h1>
                {% block login %}{% endblock %}
            </div>
            <ul id="tableButtons" data-role="controlgroup" data-type="horizontal">
                <button data-mini="true" type="submit" value="user">User</button>
                <button data-mini="true" type="submit" value="book">Book</button>
                <button data-mini="true" type="submit" value="loan">Loan</button>
                <button data-mini="true" type="submit" value="review">Review</button>
                <button data-mini="true" type="submit" value="reservation">Reservation</button>
            </ul>
            <div data-role="content">
                <table id="tableContent" data-role="table" data-filter="true" data-mode="columntoggle" class="ui-responsive table-stroke">
                    {% set count = {'value': 0} %}
                    <thead>
                        <tr>
                        {% for header in headers %}
                            <th data-priority="{{ count.value }}">{{ header[0] }}</th>
                            {% if count.update({'value': count.value + 1}) %} {% endif %}
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries %}
                        <tr>
                            {% for i in range(count.value) %}
                                <td>{{ entry[i] }}</td>
                            {% endfor %}  
                        </tr>
                        {% endfor %}
                    </tbody>

                {% block menu %}{% endblock %}
                {% block body %}{% endblock %}
                </table>
            </div>
        </div>
    </body>
</html>
