{% extends "layout.html" %}

{% block bodytable %}

<div class="decornav"></div>
<div class="user_nav">
	<br/>
	<a href="#">Users</a><br/>
	<a href="#">Loaned Books</a><br/>
	<a href="#">Overdue Books</a><br/>
	<a href="#">Users with Balance</a><br/>
</div>			

<!--TABLES-->
<div class="related_body">
	<div data-role="content" data-theme="d">
	    <table id="tableContent" data-role="table" data-mode="columntoggle" data-filter="true" class="ui-responsive table-stroke">
			{% set count = {'value': 0} %}
			<thead>
				<tr>
					{% for header in headers %}
						<th data-priority="{{ count.value + 1 }}">{{ header[0] }}</th>
					{% if count.update({'value': count.value + 1}) %} {% endif %}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for entry in entries %}
				<tr>
					{% for i in range(count.value) %}
					<td>
						{% if i == 0 %}        
				       		<button data-mini="true" id={{ entry[i] }} onClick="librarianAction($(this));">{{ entry[i] }}</button>
				       	{% else %}
				       		{{ entry[i] }}
				       	{% endif %}
				     </td>
					{% endfor %}  
				</tr>
				{% endfor %}
			</tbody>	
	    </table>
	</div>
</div>

{% endblock %}

{% block loginMessage %}

	{% if email is defined %}
		<div class="msginfo"><p id="insertmsg">Welcome {{ email }}! <a id="profile">Edit Profile<a></p></div>	
	{% else %}
		<div class="msginfo"><p id="insertmsg">Welcome guest!</p></div>		
	{% endif %}

{% endblock %}