{% extends "layout.html" %}

{% block bodytable %}

<div class="decornav"></div>
<div class="user_nav">
	<br/>
	<font color=#fff>
	<a id="available_books" href="#" onClick="loadTable($(this));">Books</a><br/>
	---------------------------<br/>
	<a id="user_inf" href="#" onClick="loadTable($(this));">Users</a><br/>
	---------------------------<br/>
	<a id="debtors" href="#" onClick="loadTable($(this));">Debtors</a><br/>
	---------------------------<br/>	
	<a id="overdue_users" href="#" onClick="loadTable($(this));">Overdue Books</a><br/>
	---------------------------<br/>	
	<a href="#" onClick="loadTable($(this));">Users with Balance</a><br/>
	---------------------------<br/>
	<a id="logout" href="#t" onClick="logout();" style="font-color:black">Logout</a><br />
	---------------------------<br/>
	</font>
</div>			

<!--TABLES-->
{% set headerPlace= [] %}	<!--flag -->
{% set headerTitle = [] %}	<!--flag -->
<div class="related_body">
	<div data-role="content" data-theme="d">
	    <table id="tableContent" data-role="table" data-mode="columntoggle" data-filter="true" class="ui-responsive table-stroke">
			{% set count = {'value': 0} %}
			<thead>
				<tr>
					{% for header in headers %}
						<th data-priority="{{ count.value + 1 }}">{{ header[0] }}</th>
					
					{%if header[0] == 'fee' %}
						{% do headerTitle.append(1) %} 
					{%endif%}
					
					{% if count.update({'value': count.value + 1}) %} {% endif %}					
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for entry in entries %}
				<tr>
					{% for i in range(count.value) %}
					<td>
						{% if i == 0 %}        
				       		<button data-mini="true" id={{ entry[i] }} onClick="librarianAction($(this));">{{ entry[i] }}</button>
				       	{% else %}
				       		{{ entry[i] }}
				       	{% endif %}
				     </td>
					{% endfor %}  
				</tr>
				{% endfor %}
			</tbody>	
	    </table>
	</div>
</div>

{% endblock %}

{% block loginMessage %}

	{% if email is defined %}

		<div class="msginfo">
			<p id="insertmsg">Welcome {{ email }}! <a href="#profForm" id="profileButton" data-rel="popup" data-position-to="window" data-transition="fade">Edit Profile</a></p>
		</div>

		<!-- Profile form -->
		<div data-role="popup" id="profForm" data-overlay-theme="b" data-theme="b" data-history="false">    
			<a id="butclose" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
			<form id="profileForm">
				<div data-role="header">
					<div style="margin:35px; width:100%;"> 
					 	<h3 style="color: white">Update Profile</h3>
					</div>
				</div>
				<div data-role="content">
					<div data-role="fieldcontain" class="ui-hide-label">
						<label for="profName">Name</label>
						<input type="text" name="profName" id="profName" placeholder="Name"/>
					</div>
					<div data-role="fieldcontain" class="ui-hide-label">
						<label for="profPhone">Phone</label>
						<input type="text" name="profPhone" id="profPhone" placeholder="Phone ###-###-####"/>
					</div>
					<div data-role="fieldcontain" class="ui-hide-label">
						<label for="profPassword">Password</label>
						<input type="password" name="profPassword" id="profPassword" placeholder="Password"/>
					</div>
				</div>
				<center>
					<button type="button" id="updateButton" name="updateButton" data-inline="true">Submit</button>
				</center>
			</form>
		</div>
		<!-- End of profile form -->

	{% endif %}

{% endblock %}