{% set count = {'value': 0} %}	

<thead>
	<tr>
	{% for header in headers %}
		<th data-priority="{{ count.value + 1 }}">{{ header[0] }}</th>
		{% if count.update({'value': count.value + 1}) %} {% endif %}
	{% endfor %}
	</tr>
</thead>
<tbody>
	{% for entry in entries %}
	<tr>
		{% for i in range(count.value) %}
		<td>		
		{% if i == 0 %}
			<a onClick="loadBookData($(this));" href="#bookForm" class="small" class="commPOP" id="{{ entry[i] }}" data-rel="popup" data-position-to="window" data-transition="fade">{{ entry[i] }}</a>
		{% endif %}
		{% if i != 0 %}
			{{ entry[i] }}
		{% endif %}
		</td>
		{% endfor %}  
	</tr>
	{% endfor %}
</tbody>

<!-- Book edit form -->
<div data-role="popup" id="bookForm" data-overlay-theme="b" data-theme="b" data-history="false">    
	<a id="butclose" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
	<form id="bookEditForm">
		<div data-role="header">
			<div style="margin:35px; width:100%;"> 
			 	<h3 style="color: white">Edit Book</h3>
			</div>
		</div>
		<div data-role="content">
			<div data-role="fieldcontain">
				<label for="title">Title</label>
				<input type="text" name="title" id="title" placeholder="Title"/>
			</div>
			<div data-role="fieldcontain">
				<label for="author">Author</label>
				<input type="text" name="author" id="author" placeholder="Author"/>
			</div>
			<div data-role="fieldcontain">
				<label for="pub_date">Publication Date</label>
				<input type="text" name="pub_date" id="pub_date" placeholder="Publication Date"/>
			</div>
			<div data-role="fieldcontain">
				<label for="edition">Edition</label>
				<input type="text" name="edition" id="edition" placeholder="Edition"/>
			</div>
			<div data-role="fieldcontain">
				<label for="copies">Copies</label>
				<input type="text" name="copies" id="copies" placeholder="Copies"/>
			</div>
		</div>
		<center>
			<button type="button" id="bookUpdateButton" name="bookUpdateButton" data-inline="true" onClick="changeBookData();">Submit</button>
		</center>
	</form>
</div>
<!-- End Book edit form -->
