{% set count = {'value': 0} %}
<thead>
    <tr>
    {% for header in headers %}
        <th data-priority="{{ count.value + 1 }}">{{ header[0] }}</th>
    	{% if count.update({'value': count.value + 1}) %} {% endif %}
    {% endfor %}
    </tr>
</thead>
<tbody>
{% for entry in entries %}
    <tr>
    {% for i in range(count.value) %}
        <td>
        	{{ entry[i] }}
        	{% if i == 2 %}
        		<a href="" class="small" id="{{ entry[i-1] }}" onClick="waiveFee($(this));">Waive Fee</a>
        	{% endif %}
        </td>
    {% endfor %}  
    </tr>
{% endfor %}
</tbody>