{% set count = {'value': 0} %}
<thead>
    <tr>
    {% for header in headers %}
        <th data-priority="{{ count.value + 1 }}">{{ header[0] }}</th>
    	{% if count.update({'value': count.value + 1}) %} {% endif %}
    {% endfor %}
    </tr>
</thead>
<tbody>
{% for entry in entries %}
    <tr>
    {% for i in range(count.value) %}
        <td>
        	{{ entry[i] }}
        	{% if i == 6 %}
        	<br/>
        	<a href="" class="small" id="{{ entry[i] }}" vemail="{{ entry[i] }}" vbid="{{entry[i-4]}}" onClick="extendDueDate($(this));">Extend Due <br/>Date by 7 days</a> 
        	{% endif %}
        </td>
    {% endfor %}  
    </tr>
{% endfor %}
</tbody>