{% set count = {'value': 0} %}	

<thead>
	<tr>
	{% for header in headers %}
		<th data-priority="{{ count.value + 1 }}">{{ header[0] }}</th>
		{% if count.update({'value': count.value + 1}) %} {% endif %}
	{% endfor %}
	</tr>
</thead>
<tbody>
	{% for entry in entries %}
	<tr>
		{% for i in range(count.value) %}
		<td>
			{{ entry[i] }}	
			{% if i == 5 %}
				<br/>
				<a onClick="resetPassword($(this));" href="#passwordForm" class="small" class="commPOP" id="{{ entry[i] }}" data-rel="popup" data-position-to="window" data-transition="fade">Reset Password</a>				
			{% endif %}
		</td>
		{% endfor %}  
	</tr>
	{% endfor %}
</tbody>