{% extends "layout.html" %}
{% block bodytable %}
<div class="half">
<p class="head">Welcome to our Library</p>
<p>Please login below to access our library</p>
<form id="loginForm">
    <div data-role="fieldcontain" class="ui-hide-label">
        <label for="username">Email</label>
        <input type="text" name="email" id="email" placeholder="Email"/>
    </div>
    <div data-role="fieldcontain" class="ui-hide-label">
        <label for="username">Password</label>
        <input type="password" name="password" id="password" placeholder="Password"/>
    </div>
    <button type="submit" id="login" name="login" data-inline="true">Login</button>
    <button type="submit" id="register" name="register" data-inline="true">Register</button>
</form>
</div>


{% endblock %}