{% extends "layout.html" %}

{% block menu %}
     <div data-role="navbar">
    <ul>
    <li><a href="{{url_for('loan')}}">LOAN</a></li>
    <li><a href="{{url_for('user')}}">USER</a></li>
    <li><a href="{{url_for('book')}}">BOOK</a></li>
    <li><a href="#">REVIEW</a></li>
    <li><a href="#">RESERVATION</a></li>
    </ul>
    </div><!-- /navbar -->
{% endblock %}

{% block login %}
   
    <button id="loginButton" type="button" class="ui-btn-right" data-inline="true">Login</button>
    <form id="loginForm">
            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="username">Email</label>
                <input type="text" name="email" id="email" placeholder="Email"/>
            </div>
            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="username">Password</label>
                <input type="password" name="password" id="password" placeholder="Password"/>
            </div>
            <button type="submit" id="login" name="login" data-inline="true">Login</button>
            <button type="submit" id="register" name="register" data-inline="true">Register</button>
    </form>
{% endblock %}
