
{% set count = {'value': 0} %}					
<thead>
	<tr>
		{% for header in headers %}
			<th data-priority="{{ count.value + 1 }}">{{ header[0] }}</th>
		{% if count.update({'value': count.value + 1}) %} {% endif %}
		{% endfor %}
	</tr>
</thead>
<tbody>
	{% for entry in entries %}
	<tr>
		{% for i in range(count.value) %}
		<td>
			{% if i == 0 %}        
	       		<button data-mini="true" id={{ entry[i] }} onClick="userAction($(this));">{{ entry[i] }}</button>
	       	{% else %}
	       		{{ entry[i] }}
	       	{% endif %}
		</td>
		{% endfor %}  
	</tr>
	{% endfor %}
</tbody>	