{% extends "layout.html" %}

{% block bodytable %}

<!--NAVIGATION FOR USER-->
<div class="decornav"></div>
<div class="user_nav"  id="tableLink">
<br/>
<a id="available_books" href="#t" onClick="loadTable($(this));">Available</a><br/>
<a id="highest_rated_books" href="#t" onClick="loadTable($(this));">Highest Rated</a><br/>
<a id="reserved_books" href="#t" onClick="loadTable($(this));">Reserve a Book</a><br/>
<a id="loan" href="#t" onClick="loadTable($(this));">Current Loaned</a><br/>
<a id="comments" href="#t" onClick="loadTable($(this));">Comment</a><br/>
<a id="user_inf" href="#t" onClick="loadTable($(this));">User</a><br/>
</div>			

<!--TABLES-->
<div class="related_body">

            <div data-role="content" data-theme="d" id="divTable">
			
			<div id="table_welcome"><h3>Viewing All Available Books</h3></div>

			<table id="tableContent" data-role="table" data-mode="columntoggle" data-filter="true" class="ui-responsive table-stroke">
						
			{% if name == "available_books" %}	
			<form  id="borrow_form" method="post" action="{{ url_for('borrow_book') }}">
			{% endif %}
			
					{% set count = {'value': 0} %}					
					<thead>
						<tr>
							{% for header in headers %}
								<th data-priority="{{ count.value + 1 }}">{{ header[0] }}</th>
							{% if count.update({'value': count.value + 1}) %} {% endif %}
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for entry in entries %}
						<tr>
							{% for i in range(count.value) %}
							<td>
							
							{% if i == 0 and  name == "available_books" %}								
							<button data-mini="true"  id="book_id">{{ entry[i] }}</button>													
							{% else %}
							{{ entry[i] }} 
							{% endif %}
							
							</td>
							{% endfor %}  
						</tr>
						{% endfor %}
					</tbody>	
					
			{% if name == "available_books" %}	
			</form>
			{% endif %}	
				
				
                </table>


		
            </div>

</div>

{%endblock%}
			
